body {background-color: #F7F4D4;}

h1 {
background-color: #AE0D7A;
  color: #FDED2A;
  text-shadow: 0,3em 0,3em rgb(206, 206, 206);
  width: 37,6em;
  padding: 1em;
  text-align: center;
  text-shadow: 0.125em 0.125em 0.1em black;
}

h2 {
  background-color: #213409;
  color: #FDED2A;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

p {
  background-color: #ffffff;
  text-align: justify;
  text-indent: 1.6em;
  line-height: 1.5;
  padding: 0.5em;
}

.pconmarginauto {
  width: 47%;
  margin: 3em auto;
  padding: 1em;
  border: 0.4em solid #213409;
  background-color: #7FBD32;
  font-weight: bold; 
  text-align: center;
}